.function {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: var(--primary-light);
    border-top: 1px solid var(--primary-light);
    border-bottom: 1px solid var(--primary-light);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}