.code {
    box-sizing: border-box;
    width: 100%; 
    resize: none;
    padding: 8px;
    font-family: 'Courier New', monospace; 
    background-color: var(--secondary-dark);
    color: var(--primary-light);
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
}